.auth-background {
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  background: 
  linear-gradient(to right,
   #004149 0%,
   #00caca 100%
   );
   display: flex;
   justify-content: center;
   align-items: center;
}
.user-input-section{
    width: 300px;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 20px;
}
.auth-login ,
.auth-signup
{
    width: 45%;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:20px;
    font-weight: 700;
    transition: 1s ease;
    background: 
    linear-gradient(to right,
     #004149 0%,
     #00caca 100%
     );
     border: none;
}
.auth-login:hover ,
.auth-signup:hover
{
    background: 
    linear-gradient(to right,
     #00caca 0%,
     #004149 100%
     );
     color: wheat;
    
}